# AWS Account ID
# PIPELINE_ACCOUNT_ID=
# STG_ACCOUNT_ID=
# PROD_ACCOUNT_ID=

# RDS
DEV_DB_INSTANCE_TYPE=t3.micro
DEV_DB_ALLOCATED_STORAGE=20
DEV_DB_MAX_ALLOCATED_STORAGE=100

# API (ECS Fargate)
DEV_API_CPU=256
DEV_API_MEMORY_MIB=512
DEV_API_DESIRED_COUNT=1

# Web (ECS Fargate)
DEV_WEB_CPU=256
DEV_WEB_MEMORY_MIB=512
DEV_WEB_DESIRED_COUNT=1
